body {
    text-align: center;
    font-family: Arial;
}

#title {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px 0px 5px 0px;
    background-color: darkred;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    width: 250px;
}

table.center {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

tr {
    margin: 20px 0 20px 0;
    padding: 10px 0 10px 0;
    border-radius: 4px;
    box-shadow: 0px 0px 2px grey;
}

#tableTD {
    width: 50%;
}

#totalStats {
    font-weight: bold;
    margin: 0 auto;
    text-align: right;
}

#totalParticipate {
    color: green;
}

#totalComplete {
    color: lightgreen;
}

#totalCreate {
    color: saddlebrown;
}

#tbName, #chkboxCreate, #chkboxParticipate, #dropdlAlphabet {
    padding: 0px 15px 0px 15px;
}

h3 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: wheat;
    width: 70%;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 20px;
}

#row1, #row2 {
    margin: 20px 0 20px 0;
    padding: 10px 0 10px 0;
    border-radius: 4px;
    box-shadow: 0px 1px 5px grey;
}

#eventdp {
    width: 90%;
    border-radius: 4px;
    margin: 10px 0px 10px 0px;
}

#dp {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    float: left;
}

#organiser {
    text-align: left;
}

#dateTime {
    color: dodgerblue;
    font-weight: bold;
    text-align: left;
}

#txtDate {
    float: left;
}

#status {
    color: green;
    font-weight: bold;
    text-align: left;
}

#txtStatus {
    float: left;
}
